@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font-default: Verdana, Geneva, Tahoma, sans-serif;
    --font-title: 'Passion One', cursive;
    --font-main: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font-default);
}

header {
    background-image: url('../img/background.jpg');
    background-position: right bottom;
    background-attachment: fixed;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font-title);
    font-size: 10vw;
}

span {
    color: firebrick;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font-main);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.texto {
    background-color: white;
    color: black;
}

#poesia {
    opacity: 0; 
    transition: opacity 2s ease-in-out;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
}

section#img01{
    background-image: url('../img/lore01.jpg');
    background-position: center top;
}

section#img02{
    background-image: url('../img/lore02.jpg');
    background-position: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}